.profile-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin-top: 60px;
}

body {
  background-color: black;
  overflow-y: hidden;
  overflow-x: hidden;
}

.profile {
  height: 550px;
  width: 350px;
  border: 1px solid white;
}

.profile-pic-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  height: 100px;
  width: 100px;
  border: 2px solid grey;
  border-radius: 50%;
  margin-top: 20px;
}
